* {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
}

p {
  color: white;
  text-align: center;
  padding: 0em;
}

button {
  font-weight: 800;
  border-radius: 2px;
  border: none;
}

button:active {
  background-color: red;
}

#calculator {
  flex-direction: column;
  justify-content: center;
  /*width: 60%;*/
  height: 60%;
  background-color: black;
  padding: 1em 1em;
  border-radius: 10px;
}

#display {
  width: 100%;
  height: 1.6em;
  background-color: grey;
  flex-grow: 0.2;
  margin-bottom: 0.4em;
  justify-content: left;
  align-items: center;
  
  font-size: 3em;
  font-style: italic; 
  color: gold;

  border-radius: 6px;
}

#all-btns {
  flex-grow: 1;
  justify-content: space-between;
  gap: 10px;
}

#main-btns {
  flex-wrap: wrap;
  width: 75%;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 4px;
}

#main-btns > * {
  min-width: 25%;
  min-height: 15%;
  flex-grow: 1;
}

#main-btns
.number {
  background-color: ghostwhite;
}

#clear-btn,
#equals-btn {
  width: auto;
  background-color: aquamarine;
  flex-grow: 0;
}

#operator-btns {
  flex-direction: column;
  width: 25%;
  gap: 4px;
}

#operator-btns > * {
  height: 25%;
  background-color: rgb(200, 100, 200);
}