body {
  display: flex;
  justify-content: center;
}

button {
  font-family: 'CodeNewRomanRegular', Verdana, Geneva, Tahoma, sans-serif;
  flex: 1 0 21%;
  margin: 2px;
  border-radius: 6px;
  border: none;
  font-size: 3em;
}

div {
  /* display: flex; */
}

#calculator {
  /* flex-direction: column;
  background-color: rgba(90, 110, 150, 0.8);
  align-items: center;
  width: 450px;
  height: 800px;
  padding: 2px;
  border-radius: 6px; */

  background-color: rgba(90, 110, 150, 0.8);

  width: 450px;
  height: 800px;
  padding: 2px;
  border-radius: 6px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#container {
  /* flex-direction: row-reverse;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  background-color: darkslategray;
  padding: 4px;
  border-radius: 6px; */

  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr); */
}

#display {
  /* width: 0; */

  /* flex: 1;
  min-width: 100%;
  height: 20%;
  
  justify-content: right;
  align-items: center;
  align-self: flex-start; */
  grid-area: 1 / 1 / 2 / -1;

  background-color: dimgrey;

  margin-bottom: 5%;
  border-radius: 6px;

  font-family: 'Segment7Standard', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7em;
  color: black;
}

.number {
  background-color: green;
}

.operator {
  background-color: red;
}

#clear,
#percent,
#change-sign {
  background-color: aqua;
  grid-row: 2;
}

#change-sign {
  grid-column: 2;
}

#percent {
  grid-column: 3;
}

#nine,
#eight,
#seven {
  grid-row: 3;
}

#six,
#five,
#four {
  grid-row: 4;
}

#three,
#two,
#one {
  grid-row: 5;
}

#zero {
  grid-row: 6;
  grid-column-end: span 2;
}

#decimal {
  grid-row: 6;
  grid-column: 3;
}

button:active {
  background-color: goldenrod;
}